$blue: #0C70F2;
$back-gray: #2d2d2d;
$font-gray: #d9d9d9;
$font-hover:#F9D1D1;
$font: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}